.radio_label {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    cursor: pointer;
    width: 40px;
}

.radio_label input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}