.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 413px;
    min-height: 450px;
    margin: 60px auto 0;
    padding: 80px 35px;
    background: #F9F9FE;
    border-radius: 8px;
}

.image_wrapper {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 2rem;
    background-color: #D7D8EF;
}

.image {
    display: block;
    width: 65px;
    object-fit: cover;
    object-position: center;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
    color: #2D2E46;
}

.subtitle {
    color: rgba(45, 46, 70, 0.5);
    text-align: center;
}