.slider {
    height: 7px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider_progress {
    position: absolute;
    height: 100%;
    left: 25%;
    right: 25%;
    border-radius: 5px;
    background: rgb(0 113 253);
}

.slider_inputs {
    position: relative;
}

.slider_inputs input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7.5px;
    left: 0px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.slider_inputs input[type='range']::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 100%;
    background: rgb(0 113 253);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

.slider_inputs input[type='range']::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 100%;
    background: rgb(212, 85, 85);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}